html, body {
	margin: 0;
	background: black;
	font-family: "Billy";
}
a {
	text-decoration: none;
	color: inherit;
}
@font-face {
	font-family: "Billy";
	src: url("billy.ttf");
}
.info {
	color: white;
	font-family: "Billy";
	font-size: 45px;
	text-align: center;
}
#sofengr {
	color: orange;
	margin-bottom: 1px solid orange;
}
.text-background {
	font-family: "Billy";

	/* Other ideas for backgrounds:
	 * - Scrolling through some (dark theme) code?
	 * - Compiling
	 * - Unzipping
	 */
	background-image: url("Hacker_code_white_01_Videvo.gif");
	/*background-size: 300px 100px;*/
	/*background-size: 500px 300px;*/
	/*background-size: 100% 100%;*/
	background-size: cover;
	background-repeat: no-repeat;


  /*background-attachment: scroll;*/
	color: transparent;
  -webkit-background-clip: text;

  font-size: 200px;
  font-weight: bold;
  text-align: center;
}
